# Data Exploration
(C) 2018 Dariusz Kajtoch

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

%matplotlib inline

sns.set_context('notebook')
plt.rcParams['text.usetex'] = False

In [5]:
data = pd.read_csv('./data/dengue_features_train.csv')
data.columns

Index(['city', 'year', 'weekofyear', 'week_start_date', 'ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm'],
      dtype='object')

# Data Description
1. Normalized difference vegetation index: Connected with life green plants. Values [-1,1]. NOAA satelite
    * `ndvi_se` - Pixel southeast of city centroid.
    * `ndvi_sw` - Pixel southweast of city centroid.
    * `ndvi_ne` - Pixel northeast of city centroid.
    * `ndvi_nw` - Pixel northwest of city centroid.
2. Precipitation: rain, snow and other.
    * `precipitation_amt_mm` - Total precipitation [mm].
3. 

* **GHCN** - Global Historical Climatology Network
* **PERSIANN** - Precipitation estimation from remotely sensed information on using artifical neural networks.Check [here](https://climatedataguide.ucar.edu/climate-data/persiann-cdr-precipitation-estimation-remotely-sensed-information-using-artificial).
* **NCEP** - National centers for environmental prediction.
* **Diurnal temperature range** - difference between maximal and minimal temperature during the day.

In [9]:
print(len(data))
pd.DataFrame({
    'NoNaNs': data.isna().sum(),
    'NoDistinct': data.nunique()
})

1456

                                       NoDistinct  NoNaNs
city                                            2       0
year                                           21       0
weekofyear                                     53       0
week_start_date                              1049       0
ndvi_ne                                      1214     194
ndvi_nw                                      1365      52
ndvi_se                                      1395      22
ndvi_sw                                      1388      22
precipitation_amt_mm                         1157      13
reanalysis_air_temp_k                        1176      10
reanalysis_avg_temp_k                         600      10
reanalysis_dew_point_temp_k                  1180      10
reanalysis_max_air_temp_k                     141      10
reanalysis_min_air_temp_k                     117      10
reanalysis_precip_amt_kg_per_m2              1039      10
reanalysis_relative_humidity_percent         1370      10
reanalysis_sat_precip_amt_mm                 1157      13
reanalysis_specific_humidity_g_per_kg        1171      10
reanalysis_tdtr_k                             519      10
station_avg_temp_c                            492      43
station_diur_temp_rng_c                       470      43
station_max_temp_c                             73      20
station_min_temp_c                             73      14
station_precip_mm                             663      22

In [12]:
data[['reanalysis_air_temp_k', 'reanalysis_avg_temp_k', 'station_avg_temp_c']]

      reanalysis_air_temp_k  reanalysis_avg_temp_k  station_avg_temp_c
0                297.572857             297.742857           25.442857
1                298.211429             298.442857           26.714286
2                298.781429             298.878571           26.714286
3                298.987143             299.228571           27.471429
4                299.518571             299.664286           28.942857
5                299.630000             299.764286           28.114286
6                299.207143             299.221429           27.414286
7                299.591429             299.528571           28.371429
8                299.578571             299.557143           28.328571
9                300.154286             300.278571           28.328571
10               299.512857             299.592857           27.557143
11               299.667143             299.750000           28.128571
12               299.558571             299.635714           28.114286
13               299.862857             299.950000           28.242857
14               300.391429             300.478571           28.200000
15               299.958571             299.957143           28.042857
16               300.332857             300.414286           28.342857
17               300.118571             300.221429           28.657143
18               300.530000             300.635714           28.328571
19               300.674286             300.792857           28.685714
20               299.857143             299.900000           28.242857
21               300.427143             300.600000           28.342857
22               300.775714             300.850000           28.771429
23               299.857143             299.942857           28.628571
24               299.195714             299.307143           27.628571
25               298.902857             299.042857           26.771429
26               299.727143             299.778571           27.971429
27               299.972857             300.035714           28.471429
28               300.350000             300.500000           27.542857
29               299.511429             299.635714           26.800000
...                     ...                    ...                 ...
1426             298.762857             299.935714           28.025000
1427             299.198571             300.678571           28.550000
1428             298.347143             299.350000           28.200000
1429             297.181429             298.185714           27.200000
1430                    NaN                    NaN                 NaN
1431             299.264286             300.521429           28.600000
1432             298.297143             299.935714           27.833333
1433             298.925714             300.457143           28.966667
1434             298.291429             299.614286           27.800000
1435             298.754286             300.342857           27.800000
1436             298.251429             299.678571           27.000000
1437             299.648571             300.950000           27.300000
1438             298.917143             300.485714           28.020000
1439             298.337143             299.664286           28.500000
1440             298.837143             300.092857           28.550000
1441             299.191429             300.928571           30.000000
1442             299.004286             300.300000           27.466667
1443             299.002857             300.714286           27.933333
1444             299.115714             300.271429           29.200000
1445             298.305714             299.557143           27.150000
1446             298.438571             299.507143           27.850000
1447             299.048571             300.028571           28.850000
1448             297.617143             298.585714           27.600000
1449             297.278571             297.935714           27.400000
1450             297.648571             298.707143           25.633333
1451             299.334286             300.771429           28.633333
1452             298.330000             299.392857           27.433333
1453             296.598571             297.592857           24.400000
1454             296.345714             297.521429           25.433333
1455             298.097143             299.835714           27.475000

[1456 rows x 3 columns]